.gradient {
    /* from left to right with 558cf4 to f15a54 */
    background: -webkit-linear-gradient(16deg, #558cf4, #f15a54);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}